<title>Tables - Ace Admin</title>
<!--<link rel="stylesheet" href="/static/ace-1.4/components/datatable.net-editor/css/editor.dataTables.min.css"/>-->
<link rel="stylesheet" href="/static/ace-1.4/components/datatable.net-editor/css/editor.bootstrap.css"/>
<!-- ajax layout which only needs content area -->

<!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">jQuery dataTables</h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Results for "Latest Registered Domains"
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace"/>
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>编号</th>
                            <th>名称</th>
                            <th class="hidden-480">简介</th>
                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                创建时间
                            </th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                修改时间
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<!-- page specific plugin scripts -->
<script type="text/javascript">
    var scripts = [null, "/static/ace-1.4/components/datatables/media/js/jquery.dataTables.js",
        "/static/ace-1.4/components/_mod/datatables/jquery.dataTables.bootstrap.js",
        "/static/ace-1.4/components/datatables.net-buttons/js/dataTables.buttons.js",
        "/static/ace-1.4/components/datatables.net-buttons/js/buttons.flash.js",
        "/static/ace-1.4/components/datatables.net-buttons/js/buttons.html5.js",
        "/static/ace-1.4/components/datatables.net-buttons/js/buttons.print.js",
        "/static/ace-1.4/components/datatables.net-buttons/js/buttons.colVis.js",
        "/static/ace-1.4/components/datatables.net-select/js/dataTables.select.js",
        "/static/ace-1.4/components/datatable.net-editor/js/dataTables.editor.js",
        "/static/ace-1.4/components/datatable.net-editor/js/editor.bootstrap.js",
        null];

    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        var editor = new $.fn.dataTable.Editor({
            ajax: editAjaxData,
            table: "#dynamic-table",
            "idSrc": "id",
            fields: [{
                label: "分类名称:",
                name: "category_name"
            }, {
                label: "简介:",
                name: "dish_summary"
            }
            ]
        });
        editor.on('submitError', function (e, xhr, err, thrown, data) {
            console.log(e)
            console.log(xhr)
            console.log(err)
            console.log(thrown)
            console.log(data)
            this.error(xhr.responseText);
        });

        //inline scripts related to this page

        //initiate dataTables plugin
        var myTable =
            $('#dynamic-table')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .DataTable({
                    "order": [[1, "asc"]],
                    bAutoWidth: false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": getAjaxData,
                    "columns": [
                        {
                            "orderable": false,
                            "cellType": "td",
                            "className": "center",
                            "searchable": false,
                            "defaultContent": "<label id='pos-rel-checkbox' class=\"pos-rel\"><input type=\"checkbox\" class=\"ace\"/><span class=\"lbl\"></span></label>"
                        },
                        {"data": "id"},
                        {"data": "category_name"},
                        {"data": "dish_summary"},
                        {"data": "dish_create_time"},
                        {"data": "dish_modify_time"},
                        {
                            "bSortable": false,
                            "defaultContent": " <div class=\"hidden-sm hidden-xs action-buttons\">" +
                            "<a class=\"blue\" href=\"#\">" +
                            "<i class=\"ace-icon fa fa-search-plus bigger-130\"></i>" +
                            "</a>" +
                            "<a id='green-edit' class=\"green\" href=\"#\">" +
                            "<i class=\"ace-icon fa fa-pencil bigger-130\"></i>" +
                            "</a>" +
                            "<a id='red-delete' class=\"red\" href=\"#\">" +
                            "<i class=\"ace-icon fa fa-trash-o bigger-130\"></i>" +
                            "</a>" +
                            "</div>" +
                            "<div class=\"hidden-md hidden-lg\">" +
                            "<div class=\"inline pos-rel\">" +
                            "<button class=\"btn btn-minier btn-yellow dropdown-toggle\" data-toggle=\"dropdown\"" +
                            "data-position=\"auto\">" +
                            "<i class=\"ace-icon fa fa-caret-down icon-only bigger-120\"></i>" +
                            "</button>" +
                            "<ul class=\"dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close\">" +
                            "<li>" +
                            "<a href=\"#\" class=\"tooltip-info\" data-rel=\"tooltip\" title=\"View\">" +
                            "<span class=\"blue\">" +
                            "<i class=\"ace-icon fa fa-search-plus bigger-120\"></i>" +
                            "</span>" +
                            "</a>" +
                            "</li>" +
                            "<li>" +
                            "<a href=\"#\" class=\"tooltip-success\" data-rel=\"tooltip\" title=\"Edit\">" +
                            "<span class=\"green\">" +
                            "<i class=\"ace-icon fa fa-pencil-square-o bigger-120\"></i>" +
                            "</span>" +
                            "</a>" +
                            "</li>" +
                            "     <li>" +
                            "<a href=\"#\" class=\"tooltip-error\" data-rel=\"tooltip\" title=\"Delete\">" +
                            "<span class=\"red\">" +
                            "<i class=\"ace-icon fa fa-trash-o bigger-120\"></i>" +
                            "</span>" +
                            "</a>" +
                            "</li>" +
                            "</ul>" +
                            "</div>" +
                            "</div>"
                        }
                    ],
                    "aaSorting": [],
                    //"bProcessing": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "http://127.0.0.1/table.php"	,

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element
                    //"iDisplayLength": 50
                    select: false,
                    language: {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "  ",
                        "": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                });


        $.fn.dataTable.Buttons.swfPath = "/static/ace-1.4/components/datatables.net-buttons-swf/index.swf"; //in Ace demo ../../components will be replaced by correct assets path
        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>显示/隐藏列</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                },
                {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>复制</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>导出 CSV</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "excel",
                    "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>导出Excel</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "pdf",
                    "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>导出PDF</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "print",
                    "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>打印</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    autoPrint: false,
                    message: 'This print was produced using the Print button for DataTables'
                },

                {
                    extend: "create",
                    "text": "<i class='ace-icon glyphicon glyphicon-plus red'></i><span class='hidden'>新增</span>",
                    editor: editor,
                    "className": "btn btn-white btn-primary btn-bold",
                    formButtons: [
                        'Create',
                        {
                            label: 'Cance', fn: function () {
                            this.close();
                        }
                        }
                    ]
                }
            ]
        });
        myTable.buttons().container().appendTo($('.tableTools-container'));

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });


        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////

        setTimeout(function () {
            $($('.tableTools-container')).find('a.dt-button').each(function () {
                var div = $(this).find(' > div').first();
                if (div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                else $(this).tooltip({container: 'body', title: $(this).text()});
            });
        }, 500);
        //删除
        myTable.on('click', '#red-delete', function (e) {
            e.preventDefault()
            editor.remove($(this).closest('tr'), {
                title: 'Delete record',
                message: 'Are you sure you wish to remove this record?',
                buttons: 'Delete'
            });
        });
        //修改
        myTable.on('click', '#green-edit', function (e) {
            e.preventDefault();
            editor.edit($(this).closest('tr'), {
                title: 'Edit record',
                buttons: 'Update'
            });
        });

        myTable.on('click', '#pos-rel-checkbox', function (e) {
            e.preventDefault()
            var tr = $(this).closest('tr')
            var checked = $(this).find('input:checkbox').prop("checked")
            if (!checked) {
                myTable.row(tr.get(0)).select()
            } else {
                myTable.row(tr.get(0)).deselect()
            }
        })


        /////////////////////////////////
        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#dynamic-table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) myTable.row(row).select();
                else  myTable.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (this.checked) myTable.row(row).deselect();
            else myTable.row(row).select();
        });


        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });


        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';


        //select/deselect a row when the checkbox is checked/unchecked


        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }


        /***************/
        $('.show-details-btn').on('click', function (e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/


        /**
         //add horizontal scrollbars to a simple table
         $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
         {
           horizontal: true,
           styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
           size: 2000,
           mouseWheelLock: true
         }
         ).css('padding-top', '12px');
         */

        function getAjaxData(data, callback, settings, putData) {
            console.log(data)
            var column = data.columns[data.order[0].column].data;
            var putData = {
                draw: data.draw,
                search: data.search.value,
                column: column,
                dir: data.order[0].dir,
                pageSize: data.length,
                pageNo: (data.start / data.length) + 1,
            }
            $.ajax({
                    type: "get",
                    url: "/examples/bootstrap_table/data",
                    data: putData,
                    cache: false,
                    success: function (result) {
                        setTimeout(function () {
                            callback(result)
                        }, 200)
                    },
                    error: function (XMLHttpRequest, textstatus, errorThrown) {
                        _alert("load error");
                    }
                }
            )
        }


        function editAjaxData(method, url, data, successCallback, errorCallback) {
            console.log(data.toJson)
            var putData = new Object()
            var type
            var url
            if (data.action == "create") {
                type = "POST"
                $.each(data.data, function (key, value) {
                    putData = value
                });
                url = "/examples/bootstrap_table/data"
            } else if (data.action == "remove") {
                type = "DELETE"
                $.each(data.data, function (id) {
                    url = "/examples/bootstrap_table/data/" + id
                })

            } else if (data.action == "edit") {
                type = "PUT"
                url = "/examples/bootstrap_table/data"
            }

            $.ajax({
                    type: type,
                    url: url,
                    data: putData,
                    cache: false,
                    success: function (result) {
                        setTimeout(function () {
                            console.log(result)
                            successCallback(result)
                        }, 200)
                    },
                    error: function (XMLHttpRequest, textstatus, errorThrown) {
                        errorCallback(textstatus)
                    }
                }
            )
        }


    });
</script>
