<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>登录</title>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/ace-1.4/components/font-awesome/css/font-awesome.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/ace.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/ace-part2.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/ace-rtl.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace-1.4/assets/css/ace-ie.css"/>
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/static/ace-1.4/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/static/ace-1.4/components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <span class="white" id="id-text2">后台管理系统</span>
                        </h1>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        登录
                                    </h4>

                                    <div class="space-6"></div>

                                    <form id="login-box-form">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" name="username"
                                                                   id="username" placeholder="用户名"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" name="password"
                                                                   id="password" placeholder="密码"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"> 记住密码</span>
                                                </label>

                                                <button type="button" id="login-box-login"
                                                        class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">登录</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            找回密码
                                        </a>
                                    </div>

                                    <div>
                                        <a href="#" data-target="#signup-box" class="user-signup-link">
                                            注 册
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                        <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa f额外热无a-key"></i>
                                        找回密码
                                    </h4>

                                    <div class="space-6"></div>
                                    <p>
                                        请输入注册邮箱
                                    </p>

                                    <form id="forgot-box-form">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" id="forgot-box-email" name="email"
                                                                   class="form-control" placeholder="邮箱"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
                                            </label>

                                            <div class="clearfix">
                                                <button type="button" id="forgot-box-sure"
                                                        class="width-35 pull-right btn btn-sm btn-danger">
                                                    <i class="ace-icon fa fa-lightbulb-o"></i>
                                                    <span class="bigger-110">确定</span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        登录
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

                        <div id="signup-box" class="signup-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header green lighter bigger">
                                        <i class="ace-icon fa fa-users blue"></i>
                                        注册
                                    </h4>
                                    <div class="space-6"></div>
                                    <p> 请填写注册信息: </p>
                                    <form id="signup-box-form">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" name="email" class="form-control"
                                                                   id="sign-email" placeholder="邮箱"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control"
                                                                   id="sign-username" placeholder="用户名"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control"
                                                                   id="sign-password" placeholder="密码"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   id="sign-password-comfig" placeholder="确认密码"/>
															<i class="ace-icon fa fa-retweet"></i>
														</span>
                                            </label>

                                            <!--<label class="block">-->
                                            <!--<input type="checkbox" class="ace" />-->
                                            <!--<span class="lbl">-->
                                            <!--I accept the-->
                                            <!--<a href="#">User Agreement</a>-->
                                            <!--</span>-->
                                            <!--</label>-->

                                            <!--<div class="space-24"></div>-->

                                            <div class="clearfix">
                                                <button type="reset" class="width-30 pull-left btn btn-sm">
                                                    <i class="ace-icon fa fa-refresh"></i>
                                                    <span class="bigger-110">重置</span>
                                                </button>

                                                <button type="button" id="signup-box-sign"
                                                        class="width-65 pull-right btn btn-sm btn-success">
                                                    <span class="bigger-110">注册</span>

                                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        登录
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.signup-box -->
                    </div><!-- /.position-relative -->

                    <!--<div class="navbar-fixed-top align-right">-->
                    <!--<br />-->
                    <!--&nbsp;-->
                    <!--<a id="btn-login-dark" href="#">Dark</a>-->
                    <!--&nbsp;-->
                    <!--<span class="blue">/</span>-->
                    <!--&nbsp;-->
                    <!--<a id="btn-login-blur" href="#">Blur</a>-->
                    <!--&nbsp;-->
                    <!--<span class="blue">/</span>-->
                    <!--&nbsp;-->
                    <!--<a id="btn-login-light" href="#">Light</a>-->
                    <!--&nbsp; &nbsp; &nbsp;-->
                    <!--</div>-->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/static/ace-1.4/components/jquery/dist/jquery.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/static/ace-1.4/components/jquery.1x/dist/jquery.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/static/ace-1.4/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#login-box-login').on('click', function (e) {
            e.preventDefault()
            var userName = $('#username').val()
            if (userName.length < 6) {
                alert('请填写用户名')
                return
            }
            var passWord = $('#password').val()
            if (passWord.length < 6) {
                alert('请填写6位密码')
                return
            }
            var aa = $('#login-box-form').serialize()

            $.post('/user/login', aa, function (result) {
                alert(result)
            }, 'json')
        });

        $('#signup-box-sign').on('click', function (e) {
            e.preventDefault()
            var email = $('#sign-email').val()
            if (email.length == 0) {
                alert("请正确输入邮箱")
                return
            }
            var userName = $('#sign-username').val()
            if (userName.length < 6) {
                alert("请至少输入六位用户名")
                return
            }
            var password = $('#sign-password').val()
            if (password.length < 6) {
                alert("请至少输入六位密码")
                return
            }
            var passwordComfig = $('#sign-password-comfig').val()
            if (passwordComfig.length < 6) {
                alert("请至少输入六位密码（确认密码）")
                return
            }
            if (password != passwordComfig) {
                alert("两次输入的密码不一致")
                return
            }
            $.post('/user/register', $('#signup-box-form').serialize(), function (result) {
                alert(result)
            }, 'json')
        });
        $('#forgot-box-sure').on('click', function (e) {
            e.preventDefault()
            var email = $('#forgot-box-email').val()
            if (email.length == 0) {
                alert("请正确输入邮箱")
                return
            }
            $.get('/user/password', {email: email}, function (result) {
                alert(result)
            });
        })
    });
</script>

</body>
</html>
